/* Général */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin-top: 60px ;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Titre principal */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Formulaire de filtrage */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

form label {
    font-weight: bold;
    color: #555;
}

form input[type="date"],
form select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

form button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Liste de l'historique */
ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

li:last-child {
    border-bottom: none;
}

h2 {
    color: #970083;
    font-size: 18px;
    margin: 0 0 10px;
}

p {
    margin: 5px 0;
    color: #555;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Message vide */
p.empty {
    text-align: center;
    color: #999;
    font-style: italic;
}
